<h1>
presta atenção NICOLE KCT Frida Kahlo era monocelha

{{title}}


</h1>
<!--<img [src] = "foto">        metodo sem  interpolação-->
<img src = "{{foto}}"><!--metodo de interpolação-->
<br><br>
<button (click) = "exibir()"> Enviar Alerta</button>
<br> <br>
 <input type = "text"  [(ngModel)] = "title"/> <!--sempre coma as bandanas dentro da caixa // ngmodel serve para atuaçizar -->
 <br> <br>
Peso <input type = "text" [(ngModel)] ="peso">
<br> <br>  
Altura <input type = "text" [(ngModel)] ="altura">
<br> <br>
<button (click) = "enviar()"> IMC</button>